@use '../../components/app/styles/index';

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    height: 36px;

    .icon {
        background-image: index.$minus-icon;
        width: 20px;
        height: 20px;
        filter: var(--colors-primary-for-svg)
    }

    .input {
        width: 67px;
        height: 36px;
        padding: 8px 16px;
        @extend %paragraph-base-light;

        &::placeholder {
            @extend %paragraph-base-light;
        }
    }
}