.paginator {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    border: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.navigation {
    cursor: pointer;
    border: none;
    background: none;
}