@use '../app/styles/index';

.paginator {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    .arrow {
        &-button {
            &:hover {
                background-color: index.$primary-black-hagh- opacity;
                border-radius: 4px;
            }
        }
        &-icon {
            background-image: url(../app/assets/images/simple_arrow_icon.svg);
            width: 7.6px;
            height: 11.8px;
            &-left {
                transform: rotate(180deg);
            }
        }
    }
    .navigation {
        cursor: pointer;
        border: none;
        background: none;
        .number {
            @extend %paragraph-big-medium;
        }
    }
}

