@use '../app/styles/index';

.paginator {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    .arrow {
        &-button {
            width: 24px;
            height: 24px;
            border-radius: 4px;
            margin: 0 18px;
            background: none;

            &:hover {
                background-color: var(--colors-button-background);
            }
        }

        &-icon {
            background-image: index.$simple-arrow-icon;
            filter: var(--colors-primary-for-svg);
            width: 7.6px;
            height: 11.8px;
            margin: auto;

            &-left {
                transform: rotate(180deg);
            }
        }
    }

    .navigation {
        width: 24px;
        height: 24px;
        cursor: pointer;
        border: none;
        margin: 0 2px;

        &.choosen {
            background-color: var(--colors-button-background);
            border-radius: 4px;
        }

        &.default {
            background: none;
            border-radius: 0
        }

        &:hover {
            border-radius: 0;
            border-bottom: 1px index.$secondary-gray solid;

        }

        .number {
            @extend %paragraph-big-light;

            &:hover {
                @extend %paragraph-big-medium;
            }
            &.choosen {
                @extend %paragraph-big-medium;
            }
        }
    }
}