@import "../assets/fonts/fonts.scss";

$primary-white: rgba(255, 255, 255, 1);
$primary-black: rgba(18, 18, 18, 1);
$primary-black-hagh-opacity: rgba(18, 18, 18, 0.05);
$primary-light-gray: rgba(222, 222, 222, 1);
$primary-dark-gray: rgba(87, 87, 87, 1);

$secondary-white: rgba(252, 252, 252, 1);
$secondary-black: rgba(26, 24, 24, 1);
$secondary-gray: rgba(156, 156, 156, 1);

$accent-red: rgba(155, 75, 75, 1);
$accent-gold: rgba(171, 137, 86, 1);

$secondary-gray-for-svg: invert(69%) sepia(15%) saturate(5%) hue-rotate(321deg) brightness(87%) contrast(88%);
$primary-black-for-svg: brightness(0) saturate(100%) invert(0%) sepia(67%) saturate(602%) hue-rotate(324deg) brightness(87%) contrast(86%);
$primary-light-gray-for-svg: brightness(0) saturate(100%) invert(94%) sepia(0%) saturate(20%) hue-rotate(166deg) brightness(94%) contrast(96%);

$filter-icon: url(/src/components/app/assets/images/filter_icon.svg);
$closed-icon: url(/src/components/app/assets/images/close-icon-size=default.svg);
$minus-icon: url(/src/components/app/assets/images/minus-icon-size=Default.svg);
$search-icon: url(/src/components/app/assets/images/search_icon.svg);
$plus-icon: url(/src/components/app/assets/images/plus-icon-size=Default.svg);
$simple-arrow-icon: url(/src/components/app/assets/images/simple_arrow_icon.svg);

%header-big {
    font: {
        family: "Cormorant SC";
        size: 16px;
        weight: 500;
    }

    line-height: 19.38px;
    text-align: left;
    text-transform: uppercase;
}

%header-small {
    @extend %header-big;
    font-size: 12px;
    line-height: 14.53px;
}

%paragraph-big-light {
    font: {
        family: "Inter";
        size: 16px;
        weight: 300;
    }

    line-height: 22.4px;
    text-align: left;
}

%paragraph-big-medium {
    @extend %paragraph-big-light;
    font-weight: 500;
}

%paragraph-base-light {
    @extend %paragraph-big-light;
    font-size: 14px;
    line-height: 19.6px;
}

%paragraph-small-light {
    @extend %paragraph-big-light;
    font-size: 12px;
    line-height: 16.8px;
}

%caption-bold-uppercase-big {
    font: {
        family: "Inter";
        size: 12px;
        weight: 700;
    }

    line-height: 14.52px;
    text-align: left;
    text-transform: uppercase;
}

%caption-bold-uppercase-small {
    @extend %caption-bold-uppercase-big;
    font-size: 8px;
    line-height: 9.68px;
}