@use '../app/styles/index';

.picture-container {
    width: 392px;
    height: 260px;
    position: relative;
    overflow: hidden;
    list-style: none;
    
    &:hover {
            .image {
                transform: scale(1.05);
    
            }
            .discription-container {
                bottom: -82px;
            }
        }

    .image {
        transition: transform 0.3s ease-out;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .discription-container {
        width: 300px;
        height: 82px;
        padding: 20px 0 20px 20px;
        box-sizing: border-box;
        position: absolute;
        background-color: index.$primary-white;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: bottom 0.3s ease-out;
    
        .name {
            @extend %header-big;
            margin: 0;
            color: index.$primary-black;
        }
    
        .date {
            @extend %caption-bold-uppercase-big;
            margin: 0;
            color: index.$accent-red;
        }
    }
}



