@import url('../app/styles/index.scss');
@import url('../../index.scss');

.app {
    width: 100%;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}