.main {
    width: 100%;
    display: block;
    .gallery {
        margin: 20px 0;
        padding: 0;
        max-width: 1240px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
    }
}



