@use '../../components/app/styles/index';

.datalist {
  position: relative;
  width: 320px;

  &-input {
    @extend %paragraph-base-light;
    width: 100%;
    height: 36px;
    border-radius: 4px;
    border: 1px solid index.$primary-light-gray;
    padding: 8px 36px 8px 16px;
    text-overflow: ellipsis;
    box-sizing: border-box;
    color: index.$primary-dark-gray;
    box-shadow: none;
    outline: 0;
    z-index: 99;

    &:focus {
      &::placeholder {
        visibility: hidden;
      }

      border: 1px solid index.$primary-dark-gray;
      outline: 0;
    }

    &::placeholder {
      color: index.$secondary-gray;
      @extend %paragraph-base-light;
    }
  }

  &.hidden {
    .list {
      visibility: hidden;
    }

    .icon {
      transform: rotate(0deg);
    }
  }

  &.visible {
    .list {
      visibility: visible;
    }

    .icon {
      transform: rotate(180deg);
    }
  }

  .icon {
    background-image: url(../../components/app/assets/images/expand_icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 12px;
    height: 7px;
    position: absolute;
    top: 15px;
    right: 20px;
    transition: transform 0.2s ease;
    cursor: pointer;
    filter: invert(69%) sepia(15%) saturate(5%) hue-rotate(321deg) brightness(87%) contrast(88%);
  }

  .overlay {
    z-index: 10;
  }
}


.list {
  position: absolute;
  margin: 12px 0 0 0;
  padding: 0;
  width: 100%;
  max-height: 200px;
  top: 100%;
  left: 0;
  list-style: none;
  border-radius: 2px;
  background: index.$primary-white;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 100;
  // scrollbar-width: thin;
  // scrollbar-color: index.$secondary-gray index.$primary-white;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px;
    box-shadow: inset 0 0 10px index.$primary-white;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    box-shadow: inset 0 0 10px index.$secondary-gray;
  }

  &-item {
    @extend %paragraph-base-light;
    display: block;
    text-align: left;
    height: 36px;
    padding: 8px 16px;
    box-sizing: border-box;
    color: index.$primary-dark-gray;
    background-color: index.$secondary-white;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    z-index: 100;

    &:hover {
      background: index.$primary-black-hagh-opacity;
    }
  }

  .no-math {
    @extend %paragraph-base-light;
    width: 100%;
    height: 80px;
    top: 100%;
    left: 0;
    padding: 8px 16px;
    box-sizing: border-box;
    z-index: 100;
    color: index.$primary-dark-gray;
  }
}