@use '../app/styles/index';

.header {
  width: 100%;
  max-width: 1240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 28px 0;

  .logo {
    width: 91px;
    height: 20px;
    cursor: pointer;
  }
}
