@use '../app/styles/index.scss';

.theme-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  &.light {
    padding: 8px 10.4px 9.2px;
    background-color: index.$secondary-white;
  }

  &.dark {
    padding: 10px;
    background-color: index.$secondary-black;
  }

  .theme-icon {
    &.light {
      background-image: index.$dark-icon;
      width: 19.2px;
      height: 22.8px;
    }

    &.dark {
      background-image: index.$light-icon;
      filter: index.$primary-light-gray-for-svg;
      width: 20px;
      height: 20px;
    }
  }
}