@use 'components/app/styles/index.scss';

:root[data-theme="light"] {
    color-scheme: light;
    --background-color: #{index.$primary-white};
    --main-text-color: #{index.$primary-black};
    --additional-text-color: #{index.$accent-red};
    --colors-input-text: #{index.$primary-dark-gray};
    --colors-input-placeholder: #{index.$secondary-gray};
    --colors-input-background: #{index.$primary-white};
    --colors-datalist-background: #{index.$primary-white};
    --colors-datalist-item-text: #{index.$primary-dark-gray};
    --colors-datalist-item-hover: #{index.$primary-black-hagh-opacity};
    --colors-border-default: #{index.$primary-light-gray};
    --colors-border-active: #{index.$primary-dark-gray};
    --colors-button-background: #{index.$primary-black-hagh-opacity};
    --colors-scroll-bar: #{index.$secondary-gray};
    --colors-primary-for-svg: brightness(0) saturate(100%) invert(35%) sepia(1%) saturate(0%) hue-rotate(152deg) brightness(91%) contrast(88%);
    --colors-hover-for-svg: brightness(0) saturate(100%) invert(0%) sepia(40%) saturate(2905%) hue-rotate(25deg) brightness(102%) contrast(86%);
}

:root[data-theme="dark"] {
    color-scheme: dark;
    --background-color: #{index.$primary-black};
    --main-text-color: #{index.$primary-light-gray};
    --additional-text-color: #{index.$accent-gold};
    --colors-input-text: #{index.$primary-light-gray};
    --colors-input-placeholder: #{index.$primary-dark-gray};
    --colors-input-background: #{index.$secondary-black};
    --colors-datalist-background: #{index.$secondary-black};
    --colors-datalist-item-text: #{index.$primary-light-gray};
    --colors-datalist-item-hover: #{index.$gray-hagh-opacity};
    --colors-border-default: #{index.$secondary-black};
    --colors-border-active: #{index.$primary-light-gray};
    --colors-button-background: #{index.$secondary-black};
    --colors-scroll-bar: #{index.$primary-light-gray};
    --colors-primary-for-svg: brightness(0) saturate(100%) invert(88%) sepia(91%) saturate(0%) hue-rotate(187deg) brightness(95%) contrast(84%);
    --colors-hover-for-svg: brightness(0) saturate(100%) invert(100%) sepia(99%) saturate(16%) hue-rotate(210deg) brightness(104%) contrast(100%);
}

body {
    margin: 0;
}

.simplebar-scrollbar::before {
    background-color: var(--colors-scroll-bar);
    width: 4px;
}

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}