@use '../app/styles/index';

.title {
    @extend %header-big;
    margin: 0;
    }
    
    .fieldset {
        border: none;
    
        .input {
            @extend %paragraph-base-light;
            color: index.$primary-dark-gray;
    
            &::placeholder {
                color: index.$secondary-gray;
            }
        }
    }

.icon {
    height: 16px;
    width: 16px;
    background-position: center;
    background-image: url(../app/assets/images/plus-icon-size=Default.svg);
    &-open {
        background-image: url(../app/assets/images/minus-icon-size=Default.svg);
    }
}

.button {
    width: 320px;
    border: none;
    background: none;
    box-sizing: border-box;
    padding: 0;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}